/* style-text.css */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    background-color: #f2f2f2;
}

main {
    flex: 1;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* header */
header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 25px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    /* Important to avoid content bleeding under */
    z-index: 10;
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    color: darkmagenta;
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
    font-weight: 500;
}

/* footer eski*/
/* footer {
    position: bottom;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* Footer */
footer {
    position: relative;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: auto; /* Footer'ı en alta yerleştirir */
  }

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
    font-weight: 500;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    padding: 2px 0;
    background-color: #f2f2f2;
    line-height: 1.5;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 2px 0;
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    text-align: right;
}

/* Change color when hovering over the links */
.dropdown-content a:hover {
    background-color: none;
    color: #666;
}

/* Show the dropdown when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
    color: #666;
}